{
  "openapi": "3.0.3",
  "info": {
    "version": "2.0.0",
    "title": "Anseta Developer API",
    "description": "Unified API for blockchain staking operations across multiple networks."
  },
  "servers": [
    {
      "url": "https://preview.api.stakefi.network",
      "description": "Anseta Developer API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Simple Staking",
      "description": "Endpoints for staking operations, validators, and staking data across all supported networks"
    },
    {
      "name": "Ethereum Staking",
      "description": "Endpoints for Ethereum native staking — validator provisioning, exits, and withdrawals"
    },
    {
      "name": "Eigenlayer Restaking",
      "description": "Endpoints for restaking operations on EigenLayer, operators, and restaking data"
    },
    {
      "name": "API Info",
      "description": "Endpoints for discovering supported chains, protocols, and assets."
    },
    {
      "name": "System",
      "description": "System endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key sent in the x-api-key header."
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key sent as the api_key query parameter."
      }
    },
    "schemas": {
      "EthereumNetwork": {
        "type": "string",
        "enum": [
          "ethereum",
          "ethereum-hoodi-testnet"
        ],
        "description": "Target Ethereum network",
        "example": "ethereum"
      },
      "EthereumValidatorExitRequest": {
        "type": "object",
        "nullable": true,
        "properties": {
          "txHash": {
            "type": "string",
            "description": "EL transaction hash that called the EIP-7002 predeploy",
            "example": "0x9c6ea5504b96d65aae6e004380a0ff0fbf596722e4bc6784a2f5c2656975c33a"
          },
          "blockNumber": {
            "type": "number",
            "description": "EL block in which the request was mined"
          },
          "amountGwei": {
            "type": "string",
            "description": "Requested amount in gwei. `0` means full exit; otherwise partial withdrawal.",
            "example": "0"
          }
        },
        "required": [
          "txHash",
          "blockNumber",
          "amountGwei"
        ],
        "description": "Latest EIP-7002 request for this pubkey. Null if there's no recent exit or partial-withdrawal request."
      },
      "EthereumValidator": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorName": {
            "type": "string",
            "nullable": true,
            "description": "Customer-supplied label",
            "example": "my-validator-mainnet-01"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          },
          "validatorIndex": {
            "type": "number",
            "nullable": true,
            "description": "Beacon chain validator index, null until activation",
            "example": 1234567
          },
          "validatorType": {
            "type": "string",
            "enum": [
              "0x02"
            ],
            "description": "Credential type (v1: 0x02 compounding only)",
            "example": "0x02"
          },
          "withdrawalAddress": {
            "type": "string",
            "nullable": true,
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "Address that receives the principal at exit. Embedded in the 0x02 credentials at deposit time. Null if the indexer is unreachable.",
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          "feeRecipient": {
            "type": "string",
            "nullable": true,
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "Execution layer fee recipient. Null if the indexer is unreachable.",
            "example": "0x388C818CA8B9251b393131C08a736A67ccB19297"
          },
          "balanceWei": {
            "type": "string",
            "nullable": true,
            "description": "Current balance in wei. Null when beacon hasn't seen the validator yet (unknown, not zero).",
            "example": "32154321678910000000"
          },
          "effectiveBalanceWei": {
            "type": "string",
            "nullable": true,
            "description": "Protocol effective balance in wei. Null when beacon hasn't seen the validator yet.",
            "example": "32000000000000000000"
          },
          "pendingDepositWei": {
            "type": "string",
            "nullable": true,
            "description": "Deposited but not yet credited, in wei — sits in the consensus layer's pending_deposits queue. Null when there is nothing queued. Do not sum with balanceWei.",
            "example": "1000000000000000000"
          },
          "state": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "activating",
              "active",
              "exit_pending",
              "exiting",
              "withdrawn"
            ],
            "description": "Validator lifecycle stage. `pending` = no on-chain deposit observed yet (pre-broadcast or never broadcast). `queued` = deposit on chain, waiting in the Electra pending_deposits queue (no beacon registry entry yet). `activating` = beacon has the validator and it is in the activation queue. `active` = attesting. `exit_pending` = a force-exit tx mined on EL but beacon hasn't ingested it yet. `exiting` = beacon ingested the exit and the validator is winding down. `withdrawn` = principal returned to the withdrawal address.",
            "example": "active"
          },
          "consensusLayerState": {
            "type": "string",
            "enum": [
              "pending_initialized",
              "pending_queued",
              "active_ongoing",
              "active_exiting",
              "active_slashed",
              "exited_unslashed",
              "exited_slashed",
              "withdrawal_possible",
              "withdrawal_done",
              "unknown"
            ],
            "description": "Consensus-spec validator state, plus 'unknown' for pubkeys beacon hasn't ingested (pre-deposit, in the activation lag window, or absent entirely).",
            "example": "active_ongoing"
          },
          "indexerState": {
            "type": "string",
            "enum": [
              "planned",
              "active",
              "deactivated",
              "pending",
              "unknown"
            ],
            "description": "Indexer status: planned/active/deactivated; 'pending' before the deposit is observed on chain; 'unknown' if the validator exists in our DB but the indexer has no matching record.",
            "example": "active"
          },
          "activatedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp of activation",
            "example": "2024-09-15T14:23:00Z"
          },
          "exitEpoch": {
            "type": "number",
            "nullable": true,
            "description": "Exit epoch, null if not exiting",
            "example": null
          },
          "withdrawableEpoch": {
            "type": "number",
            "nullable": true,
            "description": "Epoch after which balance can be withdrawn",
            "example": null
          },
          "exitRequest": {
            "$ref": "#/components/schemas/EthereumValidatorExitRequest"
          }
        },
        "required": [
          "network",
          "validatorName",
          "validatorPublicKey",
          "validatorIndex",
          "validatorType",
          "withdrawalAddress",
          "feeRecipient",
          "balanceWei",
          "effectiveBalanceWei",
          "pendingDepositWei",
          "state",
          "consensusLayerState",
          "indexerState",
          "activatedAt",
          "exitEpoch",
          "withdrawableEpoch",
          "exitRequest"
        ]
      },
      "EthereumTransaction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "deposit",
              "withdraw",
              "force-exit",
              "consolidate",
              "topup"
            ],
            "description": "Operation type",
            "example": "deposit"
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "evm"
            ],
            "example": "evm"
          },
          "encodingFormat": {
            "type": "string",
            "enum": [
              "hex"
            ],
            "example": "hex"
          },
          "tx": {
            "type": "object",
            "properties": {
              "to": {
                "type": "string",
                "example": "0x00000000219ab540356cBB839Cbe05303d7705Fa"
              },
              "value": {
                "type": "string",
                "example": "32000000000000000000"
              },
              "data": {
                "type": "string",
                "example": "0x22895118000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000e0"
              },
              "chainId": {
                "type": "string",
                "example": "1"
              },
              "from": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "nonce": {
                "type": "number",
                "nullable": true,
                "example": null
              },
              "gasLimit": {
                "type": "string",
                "nullable": true,
                "example": null
              },
              "gasPrice": {
                "type": "string",
                "nullable": true,
                "example": null
              }
            },
            "required": [
              "to",
              "value",
              "data",
              "chainId",
              "from",
              "nonce",
              "gasLimit",
              "gasPrice"
            ]
          },
          "encodedTx": {
            "type": "string",
            "description": "Hex-encoded unsigned transaction",
            "example": "0xf86c808504a817c800825208940000000000000000000000000000000000000000881bc16d674ec80000801ca0..."
          },
          "description": {
            "type": "string",
            "example": "Stake 32 ETH for 1 validator"
          }
        },
        "required": [
          "type",
          "transactionType",
          "encodingFormat",
          "tx",
          "encodedTx",
          "description"
        ]
      },
      "NetworkConfig": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Network identifier"
          },
          "type": {
            "type": "string",
            "description": "Network type (evm, cosmos, etc.)"
          },
          "nativeToken": {
            "type": "object",
            "properties": {
              "symbol": {
                "type": "string",
                "description": "Token symbol"
              },
              "native": {
                "type": "boolean",
                "description": "Whether this is the native token"
              },
              "denomination": {
                "type": "string",
                "description": "Token denomination"
              },
              "decimals": {
                "type": "number",
                "description": "Number of decimals"
              }
            },
            "required": [
              "symbol",
              "native",
              "denomination",
              "decimals"
            ],
            "description": "Native token configuration"
          },
          "bech32Prefix": {
            "type": "string",
            "description": "Bech32 prefix for cosmos chains"
          },
          "testnet": {
            "type": "boolean",
            "description": "Whether this is a testnet"
          },
          "rpc": {
            "type": "string",
            "description": "RPC endpoint URL"
          },
          "api": {
            "type": "string",
            "description": "API endpoint URL"
          },
          "chainId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Chain ID"
          },
          "explorer": {
            "type": "string",
            "description": "Block explorer URL"
          },
          "gateway": {
            "type": "string",
            "description": "Gateway URL (for Radix)"
          },
          "networkId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Network ID (for Cardano)"
          }
        },
        "required": [
          "network",
          "nativeToken"
        ],
        "description": "Chain configuration information"
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "code",
          "message"
        ],
        "description": "Error detail returned by the API"
      },
      "GetNetworksResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkConfig"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "Response containing all supported staking networks"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success",
          "error"
        ],
        "description": "Error response format"
      },
      "Network": {
        "type": "string",
        "enum": [
          "ethereum",
          "near",
          "somnia",
          "aptos",
          "allora",
          "chromia",
          "binance-smart-chain",
          "mantra",
          "nillion",
          "zenrock",
          "zetachain",
          "cronos",
          "autonity",
          "berachain",
          "kaia",
          "radix",
          "supra",
          "vanar",
          "wemix",
          "solana",
          "sonic",
          "cardano",
          "tezos",
          "tron",
          "monad",
          "sui",
          "hedera",
          "ethereum-sepolia-testnet",
          "ethereum-hoodi-testnet",
          "allora-testnet",
          "chromia-testnet",
          "binance-smart-chain-testnet",
          "autonity-piccadilly-testnet",
          "berachain-bartio-testnet",
          "kaia-kairos-testnet",
          "vanar-vanguard-testnet",
          "wemix-testnet",
          "solana-testnet",
          "sonic-testnet",
          "aptos-testnet",
          "supra-testnet",
          "near-testnet",
          "nillion-testnet",
          "mantra-testnet",
          "cardano-testnet",
          "zenrock-testnet",
          "zetachain-testnet",
          "cronos-testnet",
          "tezos-ghostnet-testnet",
          "tron-testnet",
          "monad-testnet",
          "sui-testnet",
          "hedera-testnet",
          "somnia-testnet"
        ],
        "example": "ethereum",
        "description": "Filter by network name"
      },
      "StakingNetwork": {
        "type": "string",
        "enum": [
          "ethereum",
          "solana",
          "somnia",
          "monad",
          "mantra",
          "nillion",
          "kaia",
          "cardano",
          "sonic",
          "near",
          "aptos",
          "zenrock",
          "solana-testnet",
          "sonic-testnet",
          "somnia-testnet",
          "ethereum-sepolia-testnet",
          "mantra-testnet",
          "monad-testnet",
          "hedera-testnet",
          "nillion-testnet",
          "kaia-kairos-testnet",
          "cardano-testnet",
          "zenrock-testnet"
        ],
        "example": "mantra",
        "description": "The blockchain network"
      },
      "StakingToken": {
        "type": "string",
        "enum": [
          "POL",
          "SOL",
          "SOMI",
          "MON",
          "MANTRA",
          "NILL",
          "KAIA",
          "ADA",
          "S",
          "NEAR",
          "APT",
          "ROCK",
          "HBAR"
        ],
        "example": "MANTRA",
        "description": "The staked token symbol"
      },
      "Stake": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/StakingNetwork"
          },
          "token": {
            "$ref": "#/components/schemas/StakingToken"
          },
          "tokenAddress": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ],
            "description": "The token contract address (null for native tokens, address for ERC20/SPL tokens)"
          },
          "stakerAddress": {
            "type": "string",
            "description": "The address that owns the stake"
          },
          "validatorAddress": {
            "type": "string",
            "description": "The validator address (if applicable)"
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Amount staked in smallest unit of the asset"
          },
          "status": {
            "type": "string",
            "enum": [
              "staked",
              "unstaking",
              "unstaked"
            ],
            "description": "Current status of the stake"
          },
          "unstakingCompletionDate": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 date when unstaking will complete (if unstaking/deactivating)"
          },
          "rewards": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Accumulated rewards (if available)"
          }
        },
        "required": [
          "network",
          "token",
          "stakerAddress",
          "amount",
          "status"
        ],
        "description": "Information about a stake or delegation on a blockchain network. Status meanings: 'staked' = actively staking/earning rewards, 'unstaking' = unbonding period in progress, 'unstaked' = unstaking complete and ready to withdraw",
        "example": {
          "network": "mantra",
          "token": "MANTRA",
          "tokenAddress": null,
          "stakerAddress": "mantra1abc...",
          "validatorAddress": "mantravaloper1xyz...",
          "amount": "4000000000000000000",
          "status": "unstaking",
          "unstakingCompletionDate": "2025-12-01T15:30:00Z",
          "rewards": "200000000000000000"
        }
      },
      "GetStakesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "stakes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Stake"
                },
                "description": "Staking positions for the address"
              }
            },
            "required": [
              "stakes"
            ]
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "Staking positions for the address"
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "stake",
              "deposit",
              "delegate",
              "undelegate",
              "approve",
              "queue",
              "activate",
              "boost",
              "lock",
              "unlock",
              "withdraw",
              "claim",
              "compound",
              "wrap"
            ],
            "description": "The type of operation this transaction performs"
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "evm",
              "cosmos",
              "solana",
              "aptos",
              "cardano",
              "near",
              "space and time",
              "supra",
              "radix",
              "chromia",
              "tron",
              "sui",
              "hedera"
            ],
            "description": "The blockchain type for this transaction"
          },
          "encodingFormat": {
            "type": "string",
            "enum": [
              "hex",
              "base64",
              "json",
              "asn1"
            ]
          },
          "tx": {
            "nullable": true,
            "description": "Blockchain-specific transaction object (see examples for structure)"
          },
          "encodedTx": {
            "type": "string",
            "description": "Encoded transaction ready for broadcast"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "transactionType",
          "encodingFormat",
          "encodedTx"
        ],
        "description": "Unsigned transaction with both encoded and unencoded formats. The tx field contains the actual transaction object structure which varies by blockchain type.",
        "example": {
          "type": "stake",
          "transactionType": "evm",
          "encodingFormat": "hex",
          "tx": {
            "to": "0x6414FbBf1CC9d9253125e106435619577bAAc2aC",
            "value": "0",
            "data": "0x7333aad70000000000000000000000000000000000000000000000000de0b6b3a7640000000000000000000000000000000000000000000000000000000000000000001e",
            "gasLimit": "200000",
            "chainId": "56",
            "from": null,
            "nonce": 0,
            "gasPrice": null
          },
          "encodedTx": "0xf8698085174876e8008303d090941fd6267e7d1c5f0b9f5a9e0f9f0f5b0e4d3c2b1a880de0b6b3a764000080801ca0",
          "description": "Stake CHR on BSC"
        }
      },
      "MultiTransactionResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        },
        "required": [
          "transactions"
        ],
        "description": "Multi-transaction operation response"
      },
      "TransactionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/MultiTransactionResponse"
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ]
      },
      "SimplifiedStakeRequest": {
        "type": "object",
        "properties": {
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StakingNetwork"
              },
              {
                "description": "Blockchain network identifier. Please refer to the list below for supported networks."
              }
            ]
          },
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StakingToken"
              },
              {
                "description": "Token symbol to stake. Each network supports specific tokens."
              }
            ]
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Amount to stake in the token's base denomination. Required for all networks except Cardano."
          },
          "staker": {
            "type": "string",
            "description": "Staker address or public key.\n\n| Network Type | Format | Example |\n|--------------|--------|---------|\n| **Cosmos networks (Mantra/Nillion/...)** | Bech32 address | mantra1234567890abcdefghijklmnopqrstuvwxyz123456 |\n| **Solana** | Base58 encoded public key | updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM |\n| **Cardano** | Bech32 address | addr1qx2kd4xkl38xkj2vh45jhk2l1kj3h4k5l6m7n8o9p0q1r2s3t4u5v6w7x8y9z0a1b2c3d4e5f6g7h8i9j0k1l2m3n4 |\n| **EVM Networks (Polygon/Kaia/Somnia/...)** | 0x-prefixed hex address | 0x1234567890abcdef1234567890abcdef12345678 |\n"
          },
          "validator": {
            "type": "string",
            "description": "Validator address/pubkey/identifier. **REQUIRED** for: Cosmos networks, Solana, Cardano, Polygon, Kaia, Somnia.\n\n| Network Type | Format | Example |\n|--------------|--------|---------|\n| **Cosmos networks (Mantra/Nillion/...)** | Bech32 validator operator address | mantravaloper1234567890abcdefghijklmnopqrstuvwxyz123456 |\n| **Solana** | Base58 encoded vote account address | he1iusunGwqrNtafDtLdhsUQDFvo13z9sUa36PauBtk |\n| **Cardano** | Pool ID bech32 address | pool1pu5jlj4q9w9jlxeu370a3c9myx47md5j5... |\n| **Polygon** | 0x-prefixed validator contract address | 0x26D1Ec50b4e62C1D1a40d16e7caD677311A5F2C5 |\n| **Kaia** | 0x-prefixed validator address | 0xabcdef1234567890abcdef1234567890abcdef12 |\n| **Somnia** | 0x-prefixed validator address | 0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb8"
          },
          "params": {
            "type": "object",
            "description": "Additional network-specific parameters. Refer to specific examples for additional information.\n\n",
            "additionalProperties": true
          }
        },
        "required": [
          "network",
          "token",
          "staker"
        ]
      },
      "RestakingNetwork": {
        "type": "string",
        "enum": [
          "ethereum",
          "ethereum-hoodi-testnet"
        ],
        "example": "ethereum",
        "description": "The blockchain network"
      },
      "RestakingToken": {
        "type": "string",
        "enum": [
          "EIGEN",
          "BEIGEN",
          "STETH",
          "CBETH",
          "RETH"
        ],
        "example": "STETH",
        "description": "The restaked token symbol"
      },
      "RestakingStake": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/RestakingNetwork"
          },
          "token": {
            "$ref": "#/components/schemas/RestakingToken"
          },
          "tokenAddress": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "nullable": true
              },
              {
                "nullable": true
              }
            ],
            "description": "The token contract address"
          },
          "stakerAddress": {
            "type": "string",
            "description": "The address that owns the restaked position"
          },
          "operatorAddress": {
            "type": "string",
            "description": "The EigenLayer operator address (if delegated)"
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Amount restaked in smallest unit of the asset"
          },
          "status": {
            "type": "string",
            "enum": [
              "staked",
              "unstaking",
              "unstaked"
            ],
            "description": "Current status of the restaked position"
          },
          "unstakingCompletionDate": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 date when unstaking will complete (if unstaking/deactivating)"
          }
        },
        "required": [
          "network",
          "token",
          "stakerAddress",
          "amount",
          "status"
        ],
        "description": "Information about a restaked position on EigenLayer. Status meanings: 'staked' = actively restaked, 'unstaking' = withdrawal queued and in cooldown, 'unstaked' = withdrawal ready to complete",
        "example": {
          "network": "ethereum",
          "token": "EIGEN",
          "tokenAddress": "0xec53bF9167f50cDEB3Ae105f56099aaaB9061F83",
          "stakerAddress": "0x1234567890abcdef1234567890abcdef12345678",
          "operatorAddress": "0xabcdef1234567890abcdef1234567890abcdef12",
          "amount": "500000000000000000000",
          "status": "unstaking",
          "unstakingCompletionDate": "2025-12-08T15:30:00Z"
        }
      },
      "GetRestakingStakesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "stakes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RestakingStake"
                },
                "description": "Restaking positions for the address"
              }
            },
            "required": [
              "stakes"
            ]
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "Restaking positions for the address"
      },
      "RestakingDepositRequest": {
        "type": "object",
        "properties": {
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingNetwork"
              },
              {
                "description": "Network to deposit on"
              }
            ]
          },
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingToken"
              },
              {
                "description": "Token symbol for deposit. Supports EIGEN token and LST tokens on EigenLayer."
              }
            ]
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Amount to deposit in the token's base denomination."
          },
          "staker": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address of the staker"
          }
        },
        "required": [
          "network",
          "token",
          "amount",
          "staker"
        ],
        "description": "Request body for restaking deposit endpoint",
        "example": {
          "network": "ethereum",
          "token": "STETH",
          "amount": "1000000000000000000",
          "staker": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb1"
        }
      },
      "RestakingDelegateRequest": {
        "type": "object",
        "properties": {
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingNetwork"
              },
              {
                "description": "Network to delegate on (ethereum or ethereum-hoodi-testnet)"
              }
            ]
          },
          "staker": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address of the staker"
          },
          "operator": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "EigenLayer operator address to delegate to."
          }
        },
        "required": [
          "network",
          "staker",
          "operator"
        ],
        "description": "Request body for restaking delegate endpoint",
        "example": {
          "network": "ethereum",
          "staker": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb1",
          "operator": "0x5accc90436492f24e6af278569691e2c942a676d"
        }
      },
      "RestakingUndelegateRequest": {
        "type": "object",
        "properties": {
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingNetwork"
              },
              {
                "description": "Network to undelegate on (ethereum or ethereum-hoodi-testnet)"
              }
            ]
          },
          "staker": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address of the staker"
          }
        },
        "required": [
          "network",
          "staker"
        ],
        "description": "Request body for restaking undelegate endpoint. Note: This undelegates ALL staked assets and queues them for withdrawal.",
        "example": {
          "network": "ethereum",
          "staker": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb1"
        }
      },
      "RestakingUnstakeRequest": {
        "type": "object",
        "properties": {
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingNetwork"
              },
              {
                "description": "Network to unstake on (ethereum or ethereum-hoodi-testnet)"
              }
            ]
          },
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingToken"
              },
              {
                "description": "Token symbol to unstake (e.g., STETH, EIGEN)"
              }
            ]
          },
          "amount": {
            "type": "string",
            "pattern": "^\\d+$",
            "description": "Amount to unstake in the token's base denomination"
          },
          "staker": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address of the staker"
          }
        },
        "required": [
          "network",
          "token",
          "amount",
          "staker"
        ],
        "description": "Request body for restaking unstake endpoint. Queues a partial withdrawal while remaining delegated to operator.",
        "example": {
          "network": "ethereum",
          "token": "STETH",
          "amount": "1000000000000000000",
          "staker": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb1"
        }
      },
      "RestakingWithdrawRequest": {
        "type": "object",
        "properties": {
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingNetwork"
              },
              {
                "description": "Network to withdraw from"
              }
            ]
          },
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RestakingToken"
              },
              {
                "description": "Token symbol for withdrawal"
              }
            ]
          },
          "staker": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$",
            "description": "Ethereum address of the staker"
          }
        },
        "required": [
          "network",
          "token",
          "staker"
        ],
        "description": "Request body for restaking withdrawal endpoint. Must call /undelegate or /unstake first to queue withdrawals.",
        "example": {
          "network": "ethereum",
          "token": "STETH",
          "staker": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb1"
        }
      },
      "TokenInfo": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          },
          "network": {
            "type": "string",
            "description": "Network identifier"
          },
          "native": {
            "type": "boolean",
            "description": "Whether this is the native token"
          },
          "denomination": {
            "type": "string",
            "description": "Token denomination"
          },
          "decimals": {
            "type": "number",
            "description": "Number of decimals"
          },
          "tokenAddress": {
            "type": "string",
            "description": "Token contract address (if applicable)"
          },
          "testnet": {
            "type": "boolean",
            "description": "Whether this is on a testnet"
          }
        },
        "required": [
          "symbol",
          "network",
          "native",
          "denomination",
          "decimals",
          "testnet"
        ],
        "description": "Token information"
      },
      "GetTokensResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenInfo"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "List of supported tokens"
      },
      "StakingOption": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Network identifier"
          },
          "token": {
            "type": "string",
            "description": "Token symbol"
          },
          "status": {
            "type": "string",
            "enum": [
              "LIVE",
              "PLANNED"
            ],
            "description": "Staking status"
          },
          "info": {
            "type": "object",
            "properties": {
              "network": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NetworkConfig"
                  },
                  {
                    "description": "Network configuration"
                  }
                ]
              },
              "token": {
                "$ref": "#/components/schemas/TokenInfo"
              },
              "extraParams": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Parameter name"
                    },
                    "type": {
                      "type": "string",
                      "description": "Parameter type"
                    },
                    "required": {
                      "type": "boolean",
                      "description": "Whether parameter is required"
                    },
                    "description": {
                      "type": "string",
                      "description": "Parameter description"
                    }
                  },
                  "required": [
                    "name",
                    "type",
                    "required"
                  ]
                },
                "description": "Extra parameters required"
              }
            },
            "required": [
              "network",
              "token",
              "extraParams"
            ]
          }
        },
        "required": [
          "network",
          "token",
          "status",
          "info"
        ],
        "description": "Staking option configuration"
      },
      "StakingOptionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StakingOption"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "List of staking options"
      },
      "Validator": {
        "type": "object",
        "properties": {
          "validatorId": {
            "type": "string",
            "description": "Validator identifier (UUID)"
          },
          "validatorAddress": {
            "type": "string",
            "description": "Validator address"
          },
          "moniker": {
            "type": "string",
            "description": "Validator display name"
          },
          "status": {
            "type": "string",
            "description": "Validator status"
          },
          "network": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Network identifier"
              },
              "type": {
                "type": "string",
                "enum": [
                  "mainnet",
                  "testnet"
                ],
                "description": "Network type"
              },
              "nativeToken": {
                "type": "string",
                "description": "Native token"
              },
              "tokenSymbol": {
                "type": "string",
                "nullable": true,
                "description": "Token symbol"
              },
              "decimals": {
                "type": "number",
                "nullable": true,
                "description": "Token decimals"
              }
            },
            "required": [
              "name",
              "type",
              "nativeToken",
              "tokenSymbol",
              "decimals"
            ],
            "description": "Network the validator runs on"
          },
          "commissionRate": {
            "type": "string"
          },
          "maxCommissionRate": {
            "type": "string"
          },
          "maxCommissionChangeRate": {
            "type": "string"
          },
          "publicDelegationEnabled": {
            "type": "boolean"
          },
          "creationBlockNumber": {
            "type": "string"
          },
          "ownerAddress": {
            "type": "string"
          },
          "stakingContract": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "securityContact": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        },
        "required": [
          "validatorId",
          "validatorAddress",
          "moniker",
          "status",
          "network"
        ],
        "description": "A validator available for delegation. validatorId is a UUID and is not the same value as validatorAddress; the history and rewards endpoints take the UUID."
      },
      "Entity": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Entity identifier"
          },
          "entityType": {
            "type": "string",
            "description": "Entity type"
          },
          "name": {
            "type": "string",
            "description": "Entity name"
          },
          "description": {
            "type": "string",
            "description": "Entity description"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the entity is active"
          },
          "validators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Validator"
            },
            "description": "Validators operated by this entity"
          }
        },
        "required": [
          "entityId",
          "entityType",
          "name",
          "description",
          "active"
        ],
        "description": "Validator organization"
      },
      "GetEntitiesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          },
          "count": {
            "type": "number",
            "description": "Number of entities returned"
          }
        },
        "required": [
          "success",
          "count"
        ],
        "description": "List of entities"
      },
      "GetValidatorsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Validator"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "List of validators"
      },
      "Operator": {
        "type": "object",
        "properties": {
          "operatorId": {
            "type": "string",
            "description": "Operator identifier (UUID)"
          },
          "operatorAddress": {
            "type": "string",
            "description": "Operator address"
          },
          "moniker": {
            "type": "string",
            "description": "Operator display name"
          },
          "status": {
            "type": "string",
            "description": "Operator status"
          },
          "protocol": {
            "type": "object",
            "properties": {
              "protocol": {
                "type": "string",
                "description": "Restaking protocol identifier"
              },
              "network": {
                "type": "string",
                "description": "Network identifier"
              }
            },
            "required": [
              "protocol",
              "network"
            ],
            "description": "Protocol and network the operator runs on"
          },
          "commissionRate": {
            "type": "string"
          },
          "publicDelegationEnabled": {
            "type": "boolean"
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "serviceId": {
                  "type": "number",
                  "description": "Service identifier"
                },
                "serviceAddress": {
                  "type": "string",
                  "description": "Service contract address"
                },
                "name": {
                  "type": "string",
                  "description": "Service name"
                },
                "status": {
                  "type": "string",
                  "description": "Service status"
                },
                "commissionRate": {
                  "type": "string",
                  "description": "Commission rate for this service"
                }
              },
              "required": [
                "serviceId",
                "serviceAddress",
                "name",
                "status",
                "commissionRate"
              ]
            },
            "description": "Services this operator secures"
          }
        },
        "required": [
          "operatorId",
          "operatorAddress",
          "moniker",
          "status",
          "protocol"
        ],
        "description": "A restaking operator available for delegation. operatorId is a UUID and is not the same value as operatorAddress; the history and rewards endpoints take the UUID."
      },
      "GetOperatorsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operator"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "required": [
          "success"
        ],
        "description": "List of restaking operators"
      },
      "DelegationHistoryItem": {
        "type": "object",
        "properties": {
          "validatorId": {
            "type": "string"
          },
          "validatorAddress": {
            "type": "string"
          },
          "validatorMoniker": {
            "type": "string"
          },
          "delegatorAddress": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "amountFormatted": {
            "type": "string"
          },
          "tokenSymbol": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "blockNumber": {
            "type": "string"
          },
          "transactionHash": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          }
        },
        "required": [
          "validatorId",
          "validatorAddress",
          "delegatorAddress",
          "eventType",
          "amount",
          "amountFormatted",
          "tokenSymbol",
          "decimals",
          "blockNumber",
          "transactionHash",
          "timestamp",
          "network"
        ]
      },
      "DelegationHistoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DelegationHistoryItem"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "RewardHistoryItem": {
        "type": "object",
        "properties": {
          "validatorId": {
            "type": "string"
          },
          "validatorAddress": {
            "type": "string"
          },
          "validatorMoniker": {
            "type": "string"
          },
          "delegatorAddress": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "amountFormatted": {
            "type": "string"
          },
          "tokenSymbol": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "blockNumber": {
            "type": "string"
          },
          "transactionHash": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          }
        },
        "required": [
          "validatorId",
          "validatorAddress",
          "delegatorAddress",
          "amount",
          "amountFormatted",
          "tokenSymbol",
          "decimals",
          "blockNumber",
          "transactionHash",
          "timestamp",
          "network"
        ]
      },
      "RewardHistoryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RewardHistoryItem"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "DailyRewardItem": {
        "type": "object",
        "properties": {
          "validatorId": {
            "type": "string"
          },
          "validatorAddress": {
            "type": "string"
          },
          "validatorMoniker": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "totalReward": {
            "type": "string"
          },
          "totalRewardFormatted": {
            "type": "string"
          },
          "delegatorReward": {
            "type": "string"
          },
          "delegatorRewardFormatted": {
            "type": "string"
          },
          "validatorCommission": {
            "type": "string"
          },
          "validatorCommissionFormatted": {
            "type": "string"
          },
          "tokenSymbol": {
            "type": "string"
          },
          "decimals": {
            "type": "number"
          },
          "network": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          }
        },
        "required": [
          "validatorId",
          "validatorAddress",
          "date",
          "totalReward",
          "totalRewardFormatted",
          "delegatorReward",
          "delegatorRewardFormatted",
          "validatorCommission",
          "validatorCommissionFormatted",
          "tokenSymbol",
          "decimals",
          "network"
        ]
      },
      "DailyRewardsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyRewardItem"
            }
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "EthereumGetValidatorsResponse": {
        "type": "object",
        "properties": {
          "validators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EthereumValidator"
            }
          }
        },
        "required": [
          "validators"
        ]
      },
      "EthereumStakeResponse": {
        "type": "object",
        "properties": {
          "validatorBatchId": {
            "type": "string",
            "description": "Batch identifier for this stake operation",
            "example": "vbatch_01jq7xe3vh9zw5rk"
          },
          "validators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EthereumValidator"
            }
          },
          "depositTransaction": {
            "$ref": "#/components/schemas/EthereumTransaction"
          }
        },
        "required": [
          "validatorBatchId",
          "validators",
          "depositTransaction"
        ]
      },
      "EthereumStakeRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "amountWei": {
            "type": "string",
            "pattern": "^[1-9]\\d*$",
            "description": "Amount to deposit in wei. Must be a whole-ETH multiple between 32 and 2048 ETH.",
            "example": "64000000000000000000"
          },
          "withdrawalAddress": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "Execution layer address for withdrawal credentials",
            "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
          },
          "feeRecipient": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$",
            "description": "Execution layer address receiving execution layer tips. Currently informational — fee recipient is set on the validator client at deploy time.",
            "example": "0x388C818CA8B9251b393131C08a736A67ccB19297"
          },
          "validatorName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "pattern": "^[a-zA-Z0-9_-]+$",
            "description": "Customer-supplied label for the validator. Must be unique within the organization. Max 32 chars. In local/dev/staging it must start with the environment moniker prefix (e.g. \"staging-\"). No leading/trailing whitespace.",
            "example": "my-validator-mainnet-01"
          },
          "gasLimit": {
            "type": "integer",
            "minimum": 15000000,
            "maximum": 60000000,
            "description": "Gas-limit vote applied when this validator proposes a block. Currently informational — accepted and stored for forward compatibility.",
            "example": 36000000
          }
        },
        "required": [
          "network",
          "amountWei",
          "withdrawalAddress",
          "feeRecipient",
          "validatorName"
        ]
      },
      "EthereumCancelStakeResponse": {
        "type": "object",
        "properties": {
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          }
        },
        "required": [
          "validatorPublicKey"
        ]
      },
      "EthereumCancelStakeRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          }
        },
        "required": [
          "network",
          "validatorPublicKey"
        ]
      },
      "EthereumConfirmStakeResponse": {
        "type": "object",
        "properties": {
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          }
        },
        "required": [
          "validatorPublicKey"
        ]
      },
      "EthereumConfirmStakeRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          },
          "depositTxHash": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{64}$",
            "description": "Deposit transaction hash.",
            "example": "0xabc1230000000000000000000000000000000000000000000000000000000000"
          }
        },
        "required": [
          "network",
          "validatorPublicKey",
          "depositTxHash"
        ]
      },
      "EthereumExitResponse": {
        "type": "object",
        "properties": {
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          },
          "accepted": {
            "type": "boolean"
          },
          "exitEpoch": {
            "type": "number",
            "nullable": true,
            "description": "Null until the consensus layer assigns it"
          }
        },
        "required": [
          "validatorPublicKey",
          "accepted",
          "exitEpoch"
        ]
      },
      "EthereumExitRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          }
        },
        "required": [
          "network",
          "validatorPublicKey"
        ]
      },
      "EthereumWithdrawResponse": {
        "type": "object",
        "properties": {
          "withdrawalTransaction": {
            "$ref": "#/components/schemas/EthereumTransaction"
          }
        },
        "required": [
          "withdrawalTransaction"
        ]
      },
      "EthereumWithdrawRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          },
          "amountWei": {
            "type": "string",
            "pattern": "^[1-9]\\d*$",
            "description": "Amount to withdraw in wei. Must be at least 1 gwei (use /force-exit for full exit). Protocol caps at effectiveBalance - 32 ETH.",
            "example": "32000000000000000000"
          }
        },
        "required": [
          "network",
          "validatorPublicKey",
          "amountWei"
        ]
      },
      "EthereumForceExitResponse": {
        "type": "object",
        "properties": {
          "forceExitTransaction": {
            "$ref": "#/components/schemas/EthereumTransaction"
          }
        },
        "required": [
          "forceExitTransaction"
        ]
      },
      "EthereumForceExitRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "48-byte BLS validator public key",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          }
        },
        "required": [
          "network",
          "validatorPublicKey"
        ]
      },
      "EthereumTopupResponse": {
        "type": "object",
        "properties": {
          "topupTransaction": {
            "$ref": "#/components/schemas/EthereumTransaction"
          }
        },
        "required": [
          "topupTransaction"
        ]
      },
      "EthereumTopupRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "validatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "Pubkey of the existing 0x02 validator to top up. Withdrawal credentials and fee recipient are reused.",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          },
          "amountWei": {
            "type": "string",
            "pattern": "^[1-9]\\d*$",
            "description": "Amount to deposit in wei. Must be between 1 and 2048 ETH",
            "example": "32000000000000000000"
          }
        },
        "required": [
          "network",
          "validatorPublicKey",
          "amountWei"
        ]
      },
      "EthereumConsolidateResponse": {
        "type": "object",
        "properties": {
          "consolidationTransaction": {
            "$ref": "#/components/schemas/EthereumTransaction"
          }
        },
        "required": [
          "consolidationTransaction"
        ]
      },
      "EthereumConsolidateRequest": {
        "type": "object",
        "properties": {
          "network": {
            "$ref": "#/components/schemas/EthereumNetwork"
          },
          "sourceValidatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "Pubkey of the validator being consolidated. Its balance is moved to the target and it exits.",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          },
          "targetValidatorPublicKey": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{96}$",
            "description": "Pubkey of the 0x02 validator that will receive the consolidated balance. Must share the same withdrawal address as source.",
            "example": "0x8b9c7e5f4a3d2c1e6b5a9f8e7d4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f3e2d1c0b9a8e7d6c5b4a3f2e1d0c"
          }
        },
        "required": [
          "network",
          "sourceValidatorPublicKey",
          "targetValidatorPublicKey"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/info/networks": {
      "get": {
        "operationId": "getNetworks",
        "summary": "Get supported networks",
        "description": "Returns a list of all supported blockchain networks with their protocols, tokens, and required parameters",
        "tags": [
          "API Info"
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/Network"
            },
            "required": false,
            "description": "Filter by network name",
            "name": "network",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Filter testnet/mainnet networks"
            },
            "required": false,
            "description": "Filter testnet/mainnet networks",
            "name": "testnet",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported networks with protocols and tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNetworksResponse"
                },
                "examples": {
                  "chainsResponse": {
                    "summary": "Supported networks",
                    "description": "Example response showing supported networks with their configuration",
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "network": "ethereum",
                          "type": "evm",
                          "nativeToken": {
                            "symbol": "ETH",
                            "native": true,
                            "denomination": "wei",
                            "decimals": 18
                          },
                          "testnet": false,
                          "rpc": "https://ethereum-rpc.publicnode.com",
                          "chainId": 1,
                          "explorer": "https://etherscan.io/"
                        },
                        {
                          "network": "near",
                          "nativeToken": {
                            "symbol": "NEAR",
                            "native": true,
                            "denomination": "yoctoNEAR",
                            "decimals": 24
                          },
                          "testnet": false,
                          "rpc": "https://rpc.mainnet.near.org",
                          "explorer": "https://nearblocks.io/"
                        },
                        {
                          "network": "ethereum-sepolia-testnet",
                          "type": "evm",
                          "nativeToken": {
                            "symbol": "ETH",
                            "native": true,
                            "denomination": "wei",
                            "decimals": 18
                          },
                          "testnet": true,
                          "rpc": "https://ethereum-sepolia-rpc.publicnode.com",
                          "chainId": 11155111,
                          "explorer": "https://sepolia.etherscan.io/"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internalError": {
                    "summary": "Internal server error",
                    "description": "Example internal server error response",
                    "value": {
                      "success": false,
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "Failed to retrieve supported networks"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/staking/stakes": {
      "get": {
        "operationId": "getStakingPositions",
        "summary": "Get staking positions",
        "description": "\nReturns the current staking positions for an address across supported networks.\n\n## Tokens and Networks\n\n| Token | Network |\n|-------|---------|\n| **POL** | ethereum |\n| **SOL** | solana, solana-testnet |\n| **KAIA** | kaia |\n| **S** | sonic, sonic-testnet |\n| **MANTRA** | mantra, mantra-testnet |\n| **ADA** | cardano, cardano-testnet |\n| **APT** | aptos, aptos-testnet |\n| **NEAR** | near, near-testnet |\n| **ROCK** | zenrock, zenrock-testnet |\n",
        "tags": [
          "Simple Staking"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The staker address to query stakes for"
            },
            "required": true,
            "description": "The staker address to query stakes for",
            "name": "staker",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingNetwork"
                },
                {
                  "description": "The blockchain network to query"
                }
              ]
            },
            "required": true,
            "description": "The blockchain network to query",
            "name": "network",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "The validator address (required for Kaia)"
            },
            "required": true,
            "description": "The validator address (required for Kaia)",
            "name": "validator",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingToken"
                },
                {
                  "description": "The token to query stakes for"
                }
              ]
            },
            "required": true,
            "description": "The token to query stakes for",
            "name": "token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Staking positions for the address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStakesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/staking/stake": {
      "post": {
        "operationId": "createStake",
        "summary": "Create staking transactions",
        "description": "\nCreates unsigned transactions for staking or delegation operations across supported blockchain networks.\n\nAddress format, token denomination and some other parameters vary by network. Examples for each network are provided in the examples on the right panel.\n\n## Available staking combinations \n\n| Token | Network |\n|-------|---------|\n| **POL** | ethereum, ethereum-sepolia-testnet |\n| **SOL** | solana, solana-testnet |\n| **ADA** | cardano, cardano-testnet |\n| **APT** | aptos, aptos-testnet |\n| **NEAR** | near, near-testnet |\n| **MON** | monad, monad-testnet |\n| **S** | sonic, sonic-testnet |\n| **KAIA** | kaia |\n| **MANTRA** | mantra, mantra-testnet |\n| **NIL** | nillion, nillion-testnet |\n| **SOMI** | somnia |\n| **ROCK** | zenrock, zenrock-testnet |\n\n**Notes:**\n- **Amount**: Amount is not required for Cardano. All balance is staked by protocol design.\n",
        "tags": [
          "Simple Staking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplifiedStakeRequest"
              },
              "examples": {
                "polygonDelegate": {
                  "summary": "Ethereum POL Delegation",
                  "description": "Delegate POL tokens on Ethereum. Staker is the 0x-prefixed address. Validator is the 0x-prefixed validator contract address.",
                  "value": {
                    "network": "ethereum",
                    "token": "POL",
                    "amount": "1000000000000000000",
                    "validator": "0x632d0bddcea18b89df816d89bbf8c00bab86d7b7",
                    "staker": "0x1234567890abcdef1234567890abcdef12345678"
                  }
                },
                "solanaDelegate": {
                  "summary": "Solana SOL Delegation",
                  "description": "Delegate SOL tokens on Solana network (creates stake account and delegates). Staker is the Base58 encoded public key. Validator is the Base58 encoded vote account address.",
                  "value": {
                    "network": "solana",
                    "token": "SOL",
                    "amount": "1000000000",
                    "staker": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                    "validator": "he1iusunGwqrNtafDtLdhsUQDFvo13z9sUa36PauBtk"
                  }
                },
                "cardanoDelegate": {
                  "summary": "Cardano ADA Delegation",
                  "description": "Delegate ADA tokens on Cardano network",
                  "value": {
                    "network": "cardano",
                    "token": "ADA",
                    "validator": "pool12z39rkzfylvn9wfe8j6x9ucq6g2l4mw4azj70y0gd8ejczznyj3",
                    "staker": "addr1q92zj642ynx6l7j5q7j69hplcjtpxrzsqgnerlz09qhqwjd8ywfa4g9z85vtxyzmfxvefmrd43qwdhq2e9r5h6eqn7fs2dmws7"
                  }
                },
                "mantraDelegate": {
                  "summary": "MANTRA Chain Delegation",
                  "description": "Delegate MANTRA tokens on MANTRA Chain. 'staker' is the staker's Bech32 address starting with 'mantra1'. Validator is the Bech32 validator operator address starting with 'mantravaloper1'.",
                  "value": {
                    "network": "mantra",
                    "token": "MANTRA",
                    "amount": "1000000000000000000",
                    "validator": "mantravaloper1r3s4pefpz69fk4rq8sn0zt2wxnv09uffz06nxu",
                    "staker": "mantra1234567890abcdefghijklmnopqrstuvwxyz123456"
                  }
                },
                "nillionDelegate": {
                  "summary": "Nillion NILL Delegation",
                  "description": "Delegate NILL tokens on Nillion network. 'staker' is the staker's Bech32 address starting with 'nillion1'. Validator is the Bech32 validator operator address starting with 'nillionvaloper1'.",
                  "value": {
                    "network": "nillion",
                    "token": "NILL",
                    "amount": "1000000",
                    "validator": "nillionvaloper1m0jknxsq2zz0yw2mns8q49zcf0jwjar8qgz2y0",
                    "staker": "nillion1234567890abcdefghijklmnopqrstuvwxyz123456"
                  }
                },
                "kaiaDelegate": {
                  "summary": "Kaia KAIA Delegation",
                  "description": "Delegate KAIA tokens on Kaia network. Staker is the 0x-prefixed address. Validator is the 0x-prefixed validator contract address.",
                  "value": {
                    "network": "kaia",
                    "token": "KAIA",
                    "amount": "1000000000000000000",
                    "validator": "0xa03a003866bD5DC674147b5bd83E9ace9C112039",
                    "staker": "0x1234567890abcdef1234567890abcdef12345678"
                  }
                },
                "somniaDelegate": {
                  "summary": "Somnia SOMI Delegation",
                  "description": "Delegate SOMI tokens on Somnia network. Staker is the 0x-prefixed address. Validator is the 0x-prefixed validator address.",
                  "value": {
                    "network": "somnia",
                    "token": "SOMI",
                    "amount": "1000000000000000000",
                    "validator": "0x1ea1C5D797efCC4A1113564DA5aa5eFa6807a37d",
                    "staker": "0x1234567890abcdef1234567890abcdef12345678"
                  }
                },
                "aptosDelegate": {
                  "summary": "Aptos APT Delegation",
                  "description": "Delegate APT tokens on Aptos network. Staker is the 0x-prefixed Aptos address. Validator is the 0x-prefixed validator pool address.",
                  "value": {
                    "network": "aptos",
                    "token": "APT",
                    "amount": "100000000",
                    "validator": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                    "staker": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"
                  }
                },
                "nearDelegate": {
                  "summary": "Near NEAR Delegation",
                  "description": "Delegate NEAR tokens on Near network. Staker is the NEAR account ID or public key. Validator is the staking pool account ID.",
                  "value": {
                    "network": "near",
                    "token": "NEAR",
                    "amount": "1000000000000000000000000",
                    "validator": "stakingpool.poolv1.near",
                    "staker": "example.near"
                  }
                },
                "monadDelegate": {
                  "summary": "Monad MON Delegation",
                  "description": "Delegate MON tokens on Monad network. Staker is the 0x-prefixed address. Validator is the numeric validator ID.",
                  "value": {
                    "network": "monad",
                    "token": "MON",
                    "amount": "1000000000000000000",
                    "validator": "1",
                    "staker": "0x1234567890abcdef1234567890abcdef12345678"
                  }
                },
                "sonicDelegate": {
                  "summary": "Sonic S Delegation",
                  "description": "Delegate S tokens on Sonic network.",
                  "value": {
                    "network": "sonic",
                    "token": "S",
                    "amount": "1000000000000000000",
                    "staker": "0x1234567890abcdef1234567890abcdef12345678"
                  }
                },
                "zenrockDelegate": {
                  "summary": "Zenrock ROCK Delegation",
                  "description": "Delegate ROCK tokens on Zenrock network. 'staker' is the staker's Bech32 address starting with 'zen1'. Validator is the Bech32 validator operator address starting with 'zenvaloper1'.",
                  "value": {
                    "network": "zenrock",
                    "token": "ROCK",
                    "amount": "1000000",
                    "validator": "zenvaloper1ly9l3rh5092l0jp4kc5pav4x5802585zv8z97c",
                    "staker": "zen1234567890abcdefghijklmnopqrstuvwxyz123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with unsigned transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                },
                "examples": {
                  "polygonSuccess": {
                    "summary": "Ethereum POL delegation response",
                    "description": "Example successful response for Polygon delegation with approve + delegate",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "approve",
                            "encodingFormat": "hex",
                            "transactionType": "evm",
                            "tx": {
                              "type": "Approve",
                              "tokenAddress": "0x7D1AfA7B718fb893dB30A3aBc0Cfc608AaCfeBB0",
                              "spenderAddress": "0x5e3Ef299fDDf15eAa0432E6e66473ace8c13D908",
                              "amount": "1000000000000000000",
                              "gasLimit": "500000"
                            },
                            "encodedTx": "0xf86e8085174876e80082c350947d1afa7b718fb893db30a3abc0cfc608aacfebb080b844095ea7b30000000000000000000000005e3ef299fddf15eaa0432e6e66473ace8c13d9080000000000000000000000000000000000000000000000000de0b6b3a764000080",
                            "description": "Approve POL for staking"
                          },
                          {
                            "type": "delegate",
                            "encodingFormat": "hex",
                            "transactionType": "evm",
                            "tx": {
                              "type": "PolygonDelegate",
                              "validatorContractAddress": "0x1fd6267e7d1c5f0b9f5a9e0f9f0f5b0e4d3c2b1a",
                              "amount": "1000000000000000000",
                              "minSharesToMint": "950000000000000000",
                              "gasLimit": "500000",
                              "chainId": 137
                            },
                            "encodedTx": "0xf8898085174876e8008307a120941fd6267e7d1c5f0b9f5a9e0f9f0f5b0e4d3c2b1a80b844a694fc3a0000000000000000000000000000000000000000000000000de0b6b3a76400000000000000000000000000000000000000000000000000000d2f13f7789f000080",
                            "description": "Delegate POL to validator"
                          }
                        ]
                      }
                    }
                  },
                  "mantraSuccess": {
                    "summary": "MANTRA delegation response",
                    "description": "Example successful response for MANTRA delegation",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "delegate",
                            "encodingFormat": "base64",
                            "transactionType": "cosmos",
                            "tx": {
                              "body": {
                                "messages": [
                                  {
                                    "typeUrl": "/cosmos.staking.v1beta1.MsgDelegate",
                                    "value": "CoExbWFudHJhMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6MTIzNDU2EkVtYW50cmF2YWxvcGVyMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6MTIzNDU2Gg8KAm9tEgkxMDAwMDAw"
                                  }
                                ],
                                "memo": "Delegating 1000000000000000000 amantra to mantravaloper1234567890abcdefghijklmnopqrstuvwxyz123456 with Anseta's developer API",
                                "timeoutHeight": "0",
                                "extensionOptions": [],
                                "nonCriticalExtensionOptions": []
                              }
                            },
                            "encodedTx": "base64encodedtransaction",
                            "description": "Delegate MANTRA tokens on MANTRA Chain"
                          }
                        ]
                      }
                    }
                  },
                  "nillionSuccess": {
                    "summary": "Nillion NILL delegation response",
                    "description": "Example successful response for Nillion NILL delegation",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "delegate",
                            "encodingFormat": "base64",
                            "transactionType": "cosmos",
                            "tx": {
                              "body": {
                                "messages": [
                                  {
                                    "typeUrl": "/cosmos.staking.v1beta1.MsgDelegate",
                                    "value": "CoJuaWxsMTIzNDU2Nzg5MGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6MTIzNDU2EkduaWxsdmFsb3BlcjEyMzQ1Njc4OTBhYmNkZWZnaGlqa2xtbm9wcXJzdHV2d3h5ejEyMzQ1NhoPCgRuaWxsEgcxMDAwMDAw"
                                  }
                                ],
                                "memo": "Delegating NILL tokens with Anseta's developer API",
                                "timeoutHeight": "0",
                                "extensionOptions": [],
                                "nonCriticalExtensionOptions": []
                              }
                            },
                            "encodedTx": "base64encodedtransaction",
                            "description": "Delegate NILL tokens on Nillion"
                          }
                        ]
                      }
                    }
                  },
                  "kaiaSuccess": {
                    "summary": "Kaia KAIA delegation response",
                    "description": "Example successful response for Kaia delegation",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "delegate",
                            "encodingFormat": "hex",
                            "transactionType": "evm",
                            "tx": {
                              "type": "KaiaDelegate",
                              "delegatorAddress": "0x742d35Cc6634C0532925a3b8D5c9E3E4B1f3e1e4",
                              "validatorContractAddress": "0x1fd6267e7d1c5f0b9f5a9e0f9f0f5b0e4d3c2b1a",
                              "amount": "1000000000000000000",
                              "gasLimit": "200000"
                            },
                            "encodedTx": "0xf8898085174876e8008303d090941fd6267e7d1c5f0b9f5a9e0f9f0f5b0e4d3c2b1a80b8445d3cf4b0000000000000000000000000742d35cc6634c0532925a3b8d5c9e3e4b1f3e1e40000000000000000000000000000000000000000000000000de0b6b3a764000080",
                            "description": "Delegate KAIA tokens"
                          }
                        ]
                      }
                    }
                  },
                  "solanaSuccess": {
                    "summary": "Solana SOL delegation response",
                    "description": "Example successful response for Solana SOL delegation",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "delegate",
                            "encodingFormat": "base64",
                            "transactionType": "solana",
                            "tx": {
                              "recentBlockhash": "D2kVDfRwTUUxoXEcY5x8HjXvSYDpdbsrusuVLKfXewCW",
                              "feePayer": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                              "instructions": [
                                {
                                  "programId": "11111111111111111111111111111111",
                                  "keys": [
                                    {
                                      "pubkey": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                                      "isSigner": true,
                                      "isWritable": true
                                    },
                                    {
                                      "pubkey": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                                      "isSigner": true,
                                      "isWritable": true
                                    }
                                  ],
                                  "data": [
                                    0,
                                    0,
                                    0,
                                    0,
                                    0,
                                    202,
                                    154,
                                    59
                                  ]
                                },
                                {
                                  "programId": "Stake11111111111111111111111111111111111111",
                                  "keys": [
                                    {
                                      "pubkey": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                                      "isSigner": false,
                                      "isWritable": true
                                    },
                                    {
                                      "pubkey": "SysvarRent111111111111111111111111111111111",
                                      "isSigner": false,
                                      "isWritable": false
                                    }
                                  ],
                                  "data": [
                                    0,
                                    0,
                                    0,
                                    0,
                                    13,
                                    136,
                                    16,
                                    121
                                  ]
                                },
                                {
                                  "programId": "Stake11111111111111111111111111111111111111",
                                  "keys": [
                                    {
                                      "pubkey": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                                      "isSigner": false,
                                      "isWritable": true
                                    },
                                    {
                                      "pubkey": "he1iusunGwqrNtafDtLdhsUQDFvo13z9sUa36PauBtk",
                                      "isSigner": false,
                                      "isWritable": false
                                    },
                                    {
                                      "pubkey": "SysvarC1ock11111111111111111111111111111111",
                                      "isSigner": false,
                                      "isWritable": false
                                    },
                                    {
                                      "pubkey": "SysvarStakeHistory1111111111111111111111111",
                                      "isSigner": false,
                                      "isWritable": false
                                    },
                                    {
                                      "pubkey": "StakeConfig11111111111111111111111111111111",
                                      "isSigner": false,
                                      "isWritable": false
                                    },
                                    {
                                      "pubkey": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                                      "isSigner": true,
                                      "isWritable": false
                                    }
                                  ],
                                  "data": [
                                    2,
                                    0,
                                    0,
                                    0
                                  ]
                                }
                              ],
                              "signatures": [
                                {
                                  "publicKey": "updtkJ8HAhh3rSkBCd3p9Z1Q74yJW4rMhSbScRskDPM",
                                  "signature": null
                                }
                              ]
                            },
                            "encodedTx": "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAcIDYgQeUMoYAir3XiVII4TPfbKfGDhteent6FyTPfaGNgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAppFR2mjN2ZGBp/27LD21Jzy6r85A0mkCgxCOO2YRVRBqHYF5E3VCqYNDe9/ip6slV/U1yKeHIraKSdwAAAAAAGodgXpQIFC2gHkebObbiOHltxUPYfxnkKTrTRAAAAAAan1RcYx3TJKFZjmGkdXraLXrijm0ttXHNVWyEAAAAABqfVFxksXFEhjMlMPUrxf1ja7gibof1E49vZigAAAAAGp9UXGTWE0P7tm7NDHRMga+VEKBtXuFZsxTdf9AAAALK+/ooCWkqUl+/leS0Kf0agyIOb8X6zAfd4tlpCl+GbAwECAAA0AAAAAADKmjsAAAAAyAAAAAAAAAAGodgXkTdUKpg0N73+KnqyVX9TXIp4citopJ3AAAAAAAMCAAZ0AAAAAA2IEHlDKGAIq914lSCOEz32ynxg4bXnp7ehckz32hjYDYgQeUMoYAir3XiVII4TPfbKfGDhteent6FyTPfaGNgAAAAAAAAAAAAAAAAAAAAADYgQeUMoYAir3XiVII4TPfbKfGDhteent6FyTPfaGNgDBgACBQcEAAQCAAAA",
                            "description": "Delegate 1000000000 lamports to he1iusunGwqrNtafDtLdhsUQDFvo13z9sUa36PauBtk on Solana"
                          }
                        ]
                      }
                    }
                  },
                  "cardanoSuccess": {
                    "summary": "Cardano ADA delegation response",
                    "description": "Example successful response for Cardano delegation",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "delegate",
                            "encodingFormat": "hex",
                            "transactionType": "cardano",
                            "tx": null,
                            "encodedTx": "84a400818258206c835fb2037c5a69c5d4d57fdc2e81f5e71fde4953e51fd49099fd68e9ab35f000018182583901c508cf3dcdc162e2b946ad02ce9a6c99cc6c892b70436344b6d9c8cc9614f6b5ec65766949b531154f33494aa80d971dff8f834d58e398d71a01785efb021a0002a1fd048183028200581c9614f6b5ec65766949b531154f33494aa80d971dff8f834d58e398d7581c3973fc5be925fb8177b09348319b77ee72146bac9950692f3e3cd732a0f5f6",
                            "description": "Delegate Cardano tokens"
                          }
                        ]
                      }
                    }
                  },
                  "somniaSuccess": {
                    "summary": "Somnia SOMI delegation response",
                    "description": "Example successful response for Somnia delegation",
                    "value": {
                      "success": true,
                      "data": {
                        "transactions": [
                          {
                            "type": "delegate",
                            "encodingFormat": "hex",
                            "transactionType": "evm",
                            "tx": {
                              "type": null,
                              "to": "0xBe367d410D96E1cAeF68C0632251072CDf1b8250",
                              "data": "0x3c323a1b00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001",
                              "nonce": 0,
                              "gasLimit": "1000000",
                              "gasPrice": null,
                              "maxPriorityFeePerGas": null,
                              "maxFeePerGas": null,
                              "value": "1",
                              "chainId": "5031",
                              "sig": null,
                              "accessList": null
                            },
[...]
